.profile__profession {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 360px) {
    .profile__profession {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        grid-area: 2fr;
        margin-top: 7px;
        word-spacing: 4px;
        width: 249px;
    }
}
