.profile__add-button {
    width: 150px;
    height: 50px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
    background-image: url(../../../images/Add\ Button.svg);
    border: 0;
    align-self: center;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 806px) {
    .profile__add-button {
        margin-top: 34px;
        width: 282px;
        background-image: url(../../../images/MobileAddButton.svg);
    }
}