.profile__avatar {
    margin-right: 30px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 660px) {
    .profile__avatar {
        align-self: center;
        margin-right: 0;
    }
}