.popup__profession {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding-bottom: 13px;
    border: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.2);
    margin-bottom: 48px;
    min-width: 358px;
}