.footer {
    margin: 67px auto 60px;
    max-width: 880px;
}

@media screen and (max-width: 890px) {
    .footer {
        margin-left: 40px;
    }
}

@media screen and (max-width: 360px) {
    .footer {
        margin: 48px 0 36px 19px;
            margin-left: 19px;
            margin-bottom: 36px;
    }
}